* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
}

nav {
    background-color: #ffb300;
    padding: 5px 20px;
}

ul.menu {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    /* font-family: 'Russo One', sans-serif; */
}

nav a:hover {
    text-decoration: underline;
}

.nav_item {
    transition: 1s;
}
.nav_item:hover {
    background-color: red;
}

ul.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

ul.menu li a {
    display: block;
}

.name a {
    font-size: 20px;
    border-bottom: 1px #444 solid;
}

.line_across {
    height: 5px;
    /* width: auto; */
    background-color: red;
    margin-top: 1px;

    width: 5%;
    transition: 5s;
    transform: scaleX(39.1);
}



/* giving the header the typing effect */
.header_title {
    width: max-content;
    font-size: 2em;
    text-align: center;
    color: red;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}




/* mobile menu & content(hidden)*/

ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.name a {
    border-bottom: none;
}

.toggle {
    order: 1;
}

.nav_item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}

.toggle {
    cursor: pointer;
}

.bar_menu {
    background-color: #ff0000;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bar_menu::before, .bar_menu::after {
    background-color: red;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bar_menu::before {
    top: 5px;
}

.bar_menu::after {
    top: -5px;
}

.nav_item.active {
    display: block;
}

.header_title {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.commandLine_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.blogs_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;    
    background-color: #ffb300;
    width: 100%;
    padding: 10px;

}

.blog_box {
    text-align: center;
    margin-bottom: 20px;
}

.blog_box img{
    width: 80%;
    height: auto;
    filter: grayscale(100%);
    transition: 0.90s;
}

.blog_box img:hover {
    filter: grayscale(0%);
    transform: scale(0.95, 0.95);
}


/* tablet & mobile view */

@media all and (min-width:468px) {
    ul.bar_menu {
        justify-content: center;
    }
    .name {
        flex: 1;
    }

    .commandLine_img {
        width: 100px;
    }
}

@media all and (min-width:768px) {
    .nav_item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    ul.name {
        font-size: 1.2em;
    }

    ul.menu li {
        padding: 15px 10px;
        font-size: 1.2em;
    }

    .commandLine_img {
        width: 200px;
    }

    .blogs_list {
        flex-wrap: nowrap;
    }
    .blog_box {
        width: auto;
        height: auto;
    }

    .blog_box img{
        width: 70%;
    }
}

